@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

@layer components {
    .center {
        @apply flex justify-center items-center;
    }

    .bg-gradient {
        @apply bg-gradient-to-r from-[#EB1CD6] to-[#F4AB68]
    }

    .bg-gradient-active {
        @apply bg-gradient-to-r from-[#fe4fec] to-[#f1b882]
    }

    .gradient-text {
        @apply bg-gradient bg-clip-text text-transparent
    }
}

@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;

        scrollbar-width: none;
    }

    .text-area-scrollbar::-webkit-scrollbar {
        /* Customize the scrollbar width */
        width: 10px;
    }

    .text-area-scrollbar::-webkit-scrollbar-track {
        /* Customize the scrollbar track */
        background: #eeeeee;
        border-radius: 150px;
    }

    .text-area-scrollbar::-webkit-scrollbar-thumb {
        /* Customize the scrollbar thumb */
        background: #ff88d7;
        border-radius: 5px;
        cursor: pointer;
    }
}